<footer>
    <div class="responsiveHolder clearfix">
        <div class="footerLeft">
            <div class="footerName">Miloš Novićević</div>
            <div class="footerTitle">senior PHP developer</div>
        </div>
        <div class="footerRight">
            <a href="http://rs.linkedin.com/in/milosnovicevic" target="_blank"><img src="img/linkedin.png" alt="LinkedIn | Milos Novicevic"></a>
            <a href="https://github.com/milosnovi" target="_blank"><img src="img/github.png" alt="GitHub | Milos Novicevic"></a>
            <a href="https://twitter.com/MilosNovicevic" target="_blank"><img src="img/twitter.png" alt="Twitter | Milos Novicevic"></a>
            <a href="https://www.facebook.com/milosnovi" target="_blank"><img src="img/facebook.png" alt="Facebook | Milos Novicevic"></a>
        </div>
    </div>
</footer>