<header>
        <nav>
            <ul class="clearfix">
                <li {% if page.url == "/index.html" %}class="active"{%endif%}><a href="/" >About me</a></li>
                <li  {% if page.url == "/contact.html" %}class="active"{%endif%}><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="responsiveHolder clearfix">
            <div class="profileImage">
                <img src="img/profile-img.png" alt="Profile image | Milos Novicevic">
            </div>
            <div class="profileName">
                <h1>Miloš Novićević</h1>
                <!-- “Be yourself. Everyone else is already taken.” -->
            </div>
        </div>
    </header>